// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

 .ui-helper-hidden-accessible { display:none; }

h1 small {
	font-size: 36px;
	border-bottom: 3px dashed #c1c1c1;
}