    <!-- Footer -->

    <div id="footer">
        <div class="container">

            <ul class="list-inline">
                <%= link_to "Home", root_path %> | 
                <%= link_to "About", pages_about_path %> | 
                <%= link_to "Contact Us", pages_contact_path %>
            </ul>
            <p class="text-muted credit">&copy; 2014 <strong>SideTrip</strong>
            </p>
        </div>
    </div>

    <!-- /Footer -->