    <!-- Footer -->

    <div id="footer">
        <div class="container">

            <ul class="list-inline">
                <li><a href="index.html">Home</a>
                </li>
                <li><a href="#">Terms</a>
                </li>
                <li><a href="/pages/about">About</a>
                </li>
                <li><a href="/pages/contact">Contact Us</a>
                </li>
                <li><a href="browse-listings-grid.html">Browse Vehicles</a>
                </li>
            </ul>
            <p class="text-muted credit">&copy; 2013 <strong>AutoMarket</strong> &middot; Created by: <a href="https://wrapbootstrap.com/user/themestrap">Themestrap</a> &middot; Powered by: <a href="http://getbootstrap.com/">Bootstrap</a> 
            </p>
        </div>
    </div>

    <!-- /Footer -->